@page "/sobre"

<PageTitle>Sobre</PageTitle>

<h1 class="text-2xl font-bold mb-4">Sobre o ToDoList</h1>

<p class="mb-4 text-left">Este é um projeto desenvolvido para um trabalho de faculdade, com o objetivo de organizar e gerenciar tarefas de maneira simples e eficiente. O ToDoList permite que os usuários criem listas de tarefas, editem, excluam e marquem tarefas como concluídas. Além disso, o aplicativo também oferece funcionalidades para adicionar novas listas e gerenciar múltiplas tarefas dentro dessas listas.</p>

<p class="mb-4 text-left">O objetivo deste projeto é implementar um sistema de gestão de tarefas com foco na simplicidade, utilizando tecnologias modernas como Blazor, C#, e Tailwind CSS para o front-end. A ideia é proporcionar uma ferramenta útil para organizar as atividades diárias de forma prática e visual.</p>
